#jason
#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate 
network  --hostname=todoapp.bcit.local
cdrom
repo --name=epel --baseurl=https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch/ --install


# Root password
rootpw --iscrypted $6$XaCqfiiBHQs1wZbz$OSyXSBxC5vN81dp.EwK95AFkSkMINR23SGnmB.GxTTTE3Nj1qLCcvrp6WlBUFxqouaYxpZiR7wBvFMnRtEtqg1
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc

# enabling firewall
firewall --enabled --ssh --http --port 8080:tcp
# selinux disabled/permissive
selinux --disabled
# creates users 
user --name=todoapp --homedir=/home/todoapp --password=P@ssw0rd --plaintext
user --name=admin --groups=wheel --homedir=/home/admin --password=$6$Suh66AVIsHRppwKD$jdY4zgdF8dHk663r1a0iF7R6iJ1kcHjqpzfcVBgULN9F.uw/Dj9abWOLq8U5mCVo8j4OaeASPKsgteZUSzzgh0 --iscrypted
sshkey --username=admin "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDT9ZH7OiAtLfqNfkvDtPibEuM09q5ER4fUoKTmL9HgXHqwgkCczqDCrvvjoQfJRANbqpYaySJvSEfhW2SjRgWXnU1KU4kZtsphfGiLoJ3SM5AqqyDb2e42V3FTfl05DIDMrZzLOPtX+ZFKkpH+avM6jiAKcmfzrdW5BemxsyV58zZjdEHW1CfLj+89fSh4XFaAxDs+91XUiNL+QmOSuTtY+9+XMHGoRuz18NTg7Bc2RhmNIcdOsiKekw68lLP1j4oHhnOowCkXYfCTYz/nWT/nLAX2yvCdQX4jMFA7r/lkS3urgdovLW6nLJ7rBEcJ8d30yiv4dHjJB18GM3QQLe65 timg@CAS-Y49351"
reboot

%packages
@minimal-environment
epel-release
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post --log=/root/ks-post.log

sed --in-place 's/^#\s*\(%wheel\s\+ALL=(ALL)\s\+NOPASSWD:\s\+ALL\)/\1/' /etc/sudoers
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
dnf install -y wget curl

%end
